body {
    /*background-size: 100vh 100vw;
    background-image: linear-gradient(to right, grey 1%, transparent 1%, grey 1%, transparent 1%, grey 1%, transparent 1%, grey 1%, transparent 1%)*/
    background-size:100vh 100vw;
    background:repeating-linear-gradient(
        to right,
    grey 0%,
        transparent 0.5%,
        transparent 9.5%,
        grey 10%
        ),
        repeating-linear-gradient(
            to bottom,
        grey 0%,
            transparent 0.5vh,
            transparent 95vh,
            grey 100vh
            )
  }